.book .book-summary .chapter > span > .articles {
	overflow: hidden;
	max-height: 0px;
  padding-left: 0;
}

.book .book-summary .chapter.expanded > span > .articles {
	max-height: 9999px;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
	cursor: pointer;
}

.book .book-summary .exc-trigger:before {
  	content: "\f054";
}

.book .book-summary .expanded > a .exc-trigger:before,
.book .book-summary .expanded > span .exc-trigger:before {
	content: "\f078";
}
